include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include django_admin_inline_paginator_plus/templates *
recursive-include django_admin_inline_paginator_plus/static *
recursive-include django_admin_inline_paginator_plus/locale *
