.btn-page {
    display: inline-block;
    margin: 4px 2px;
    padding: 2px 6px !important;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-page:hover {
    background-color: var(--button-hover-bg) !important;
}

.page-selected {
    background-color: var(--primary);
}

.page-available {
    background-color: #008cba;
}

.results {
    color: var(--body-fg);
}
